ul li a, div a{
    text-decoration: none;
    color: #ffffff;
}

ul li {
    list-style-type: none;
}

a:hover{
    color: orange;
}
.nav{
    background-color: rgba(0, 0, 0, 0.565);
}
.logo{
    letter-spacing: 2px;
}